<div class="container pt-5">
  <div class="row">

      <%= render "banner" %>

  </div>
  <div class="row">
    <div class="cards my-5">
      <%= render "card" %>
      <%= render "card" %>
      <%= render "card" %>
      <%= render "card" %>
      <%= render "card" %>
      <%= render "card" %>
      <%= render "card" %>
      <%= render "card" %>
    </div>
  </div>
</div>
