<div class="container">
  <div class="row">
    <div class="mt-6">
      <h1>See all the costumes</h1>
        <div class="cards my-5">
          <%= render "card" %>
          <%= render "card" %>
          <%= render "card" %>
          <%= render "card" %>
          <%= render "card" %>
          <%= render "card" %>
          <%= render "card" %>
          <%= render "card" %>
        </div>
    </div>

    <% @costumes.each do |costume|  %>
    <%= costume.name %>
    <%= costume.descr %>
    <% end %>
  </div>
</div>
