<div style="height: 435px; margin-top: -38px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="container">
  <div class="row">
    <div class="mt-6">
        <div class="d-flex align-items-center justify-content-center mr-3 ml-3 mt-5">
          <div class="flex-grow-1">
            <%= form_tag costumes_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find a costume"
            %>
          </div>
            <%= submit_tag "Search", class: "btn-gradient mx-2" %>
        </div>
      <% end %>
      <br>


  <div class="costumes-index-card-container" data-target="plant-cards.container">
      <% @costumes.each do |costume| %>
      <%= render "costumes/card", costume: costume %>
    <% end %>
    <div style="width: 320px;"></div>
  </div>

  </div>
</div>
</div>
