<div class="container">
  <div class="row">
  <h1>More information about the costume you are interrestted in: </h1>
    <div class="col-6 mt-6">
      <div class="card-trip p-3">
          <h1> Costum: <%= @costume.name %></h1>
          <div class="d-flex">
            <div class="p-2"><%= image_tag @costume.image, width:200 %></div>
            <div class="p-2"><%= image_tag @costume.image, width:100 %></div>
            <div class="p-2"><%= image_tag @costume.image, width:100 %></div>
            <div class="p-2"><h4> Size: <%= @costume.size %></h4></div>
            <div class="p-2"><h4> Price: <%= @costume.price %> $</h4></div>
          </div>

          <h3> Send a message to the owner: <%= @costume.user.name %></h3>
        </div>
    <%= link_to "Back to the list", costumes_path, class: "btn btn-primary" %>
    <%= link_to "Reserve",costumes_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
