<div class="container">
  <div class="row">
    <div class="mt-5">
      <%= render "banner" %>
    </div>
  </div>
  <div class="row">
    <div class="cards my-5">
      <%= render "card" %>
      <%= render "card" %>
      <%= render "card" %>
      <%= render "card" %>
      <%= render "card" %>
      <%= render "card" %>
    </div>
  </div>
</div>
