<div class="container">
<div class="tab">
  <button class="tablinks" onclick="openRental(event, 'my_rentals')">My Rentals (<%= @my_reservations.size %>)</button>
  <button class="tablinks" onclick="openRental(event, 'my_requests')">My Requests (<%= @my_requests.size %>)</button>
  </div>
<div id="my_rentals" class="tabcontent">
  <h1 style="text-align:center">My Rentals (<%= @my_reservations.size %>)</h1>
  <br>
  <table style="table-layout: fixed; width: 100%;">
    <tr>
      <th>Costume Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Status</th>
    </tr>
  <% @my_reservations.each do |r| %>
         <tr>
          <td class="nr"><%= r.costume.name %></td>
          <td><%= r.start_date %></td>
          <td><%= r.end_date %></td>
          <td><%= r.status %></td>
          <td><%= link_to "Cancel this reservation", cancel_reservation_path(r), method: :patch,
                  data: {confirm: 'Are you sure?'}, class: "btn btn-primary" %></td>
        </tr>
    <% end %>
  </table>
</div>
<div id="my_requests" class="tabcontent">
  <h1 style="text-align:center">My Requests (<%= @my_requests.size %>)</h1>
  <br>
  <table style="table-layout: fixed; width: 100%;">
    <tr>
      <th>Costume Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Status</th>
    </tr>
  <% @my_requests.each do |r| %>
        <tr>
          <td class="nr"><%= r.costume.name %></td>
          <td><%= r.start_date %></td>
          <td><%= r.end_date %></td>
          <td><%= r.status %></td>
          <td><%= link_to "Reject this rental", cancel_reservation_path(r), method: :patch,
                  data: {confirm: 'Are you sure?'}, class: "btn btn-primary" %></td>
          <td><%= link_to "Approve this rental", approved_reservation_path(r), method: :patch,
                  data: {confirm: 'Are you sure?'}, class: "btn btn-primary" %></td>
        </tr>
      <% end %>
  </table>
</div>
</div>
