<h1><%= @costume.name %></h1>
<h3>Descr: <%= @costume.descr %> / Size: <%= @costume.size %></h3>
<p>Price: <%= @costume.price %> / Category: <%= @costume.category %></p>
<%# <img src=<%= @costume.picture %>
